.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  margin-bottom: 30px;
}

footer {
  position: fixed;
  width: 100%;
  height: 80px;
  bottom: 0;
  background-color: lightgray;
  line-height: 80px;
}

/* .bookcontainer {
  justify-content: space-evenly;
} */

li {
  list-style: none;
}

img {
  width: 30px;
  height: 300px;
  /* object-fit: contain; */
}

.detailimg {
  width: 80%;
  height: 100%;
}

.book-btn {
  padding: 20px;
  margin-top: 20px;
}

.row {
  margin-top: 30px;
}

/* .card-body {
  width: 50%;
} */

/* .signin-contianer {
  width: 70%;
  transform: translate(-50%,-50%);
  display: flex;
} */

.card-name {
  margin-top: 30px;
}
.card-id {
  margin-top: 30px;
}
.card-pwd {
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-pwdcheck {
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-address {
  margin-top: 30px;
  margin-bottom: 10px;
}

.card-detailaddress {
  margin-bottom: 30px;
}
.signin-btn {
  margin-bottom: 30px;
}

.navbar-nav {
  margin-right: 60%;
}

.col-md-4 {
  margin-bottom: 30px;
}

.count {
  margin-top: 40px;
}
